* {
  box-sizing: border-box;
  border-radius: 5px;
}

body {
  width: 1024px;
  height: 100vh;
  margin: 30px auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../img/santa-marta.jpg);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

header {
  width: 75%;
  height: 200px;
  display: flex;
  justify-content:space-evenly;
  align-content: center;
  padding-bottom: 1rem;
  border-bottom: 5px double maroon;
  border-radius: none;
}

nav {
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px auto;
}

nav button {
  padding: 5px 10px;
}

nav button:hover {
  cursor: pointer;
  background-color: azure;
}

nav i {
  font-size: 2rem;
  color:maroon;
}

form {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  background-color:rgba(112, 128, 144, 0.9);
  padding: 1rem;
  color: beige;
  visibility: hidden;
}

.visibleForm {
  visibility: visible;
}

fieldset {
  margin: auto;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  border: 3px solid black;
}

label {
  text-align: center;
  margin-bottom: 1rem;
  padding: .5rem;
}

form button {
  margin: 2rem auto;
  margin-bottom: 1rem;
  padding: 10px;
}


.hiddenDisplay {
  visibility: hidden;
}

.visibleDisplay {
  visibility: visible;
  border: 3px solid;
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(153, 50, 204, 0.85);
}
.visibleDisplay div {
  padding: 10px;
  margin: 20px 10px;
  border: 3px solid;
  background-color: rgba(255, 248, 220, 0.9)
}

h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 10px;
  padding: 10px;
  border: 3px solid;
  background-color:rgba(153, 50, 204, 0.85);
}

#message {
  border: 3px solid;
  padding: 10px;
  background-color: rgba(128, 0, 0, 0.9);
  max-width: 50%;
  margin: 10px auto;
  flex-wrap: wrap;
}

#dateAndTime,
#planeCounter,
h1 {
  background-color: rgba(255, 248, 220, 0.74);
  border: 3px solid;
  text-align: center;
  padding: 10px;
}

h1 {
  font-size: 3rem;
}

#dateAndTime div:first-child {
  border-bottom: 3px double maroon;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

#counter {
  margin-top: 10px;
}